.search-container {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.search-bar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #111517;
  background-color: var(--element-background);
  color: var(--text-color);

}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  color: #858585;
  color: var(--text-color);

}

.search-button {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #858585;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-container {
    margin-bottom: 1.5rem;
  }
}
